@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0px;
}

body {
    font-family: Roboto, sans-serif;
}

.wrapper_first {
    background-color: #6B7A8F;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navlogo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    margin-bottom: 0;
}

.hero_text_header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero_text {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

.hero {
    color:white;
    background-color: grey;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.text_1 {
    display: block;
    width: 60%;
}
