@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0px;
}

body {
    font-family: Roboto, sans-serif;
}

/* First part of the website */
.wrapper_first {
    background-color: #6B7A8F;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding: 1rem 9rem 7rem;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 90px;
}

#navlogo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #F9FAF8;
}

nav ul {
    color: white;
    font-size: 18px;
}
/* Box in the first part */
#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#hero-left h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#hero-left p {
    color: white;
    font-size: 18px;
    margin-top: 2px;
}

#hero-right {
    display: flex;
}

#hero-right img {
    flex: 1;
    object-fit: cover;
    max-height: calc(1rem+200px);
    border-radius: 7px;
  }

button {
    background-color: #F7882F;
    color: white;
    border-radius: 7px;
    border-color: #F7882F;
    font-size: 18px;
    font-weight: 500;
    padding-inline: 2rem;
    padding-block: 7px;
    outline: none;
}

#hero-left,
#hero-right {
    flex: 1 1 0;
}

/* Second part */
.wrapper_second {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem 9rem 7rem;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.info {
    max-width: 250px;
}

.icon {
    border: 5px solid #F7882F;
    border-radius: 15px;
}

/* Third part */

.wrapper_third {
    background-color: #dcc7aa;
    display: flex;
    flex-direction: column;
    padding: 7rem 9rem 7rem;
}

h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
    color: #1F2937
}

.wrapper_third p {
    text-align: right;
    font-size: 20px;
    font-weight: bolder;
    color: #1F2937;
}

/*Fourth part*/

.wrapper_fourth {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 7rem 9rem 7rem;
}

#box {
    background-color: #F7882F;
    border-radius: 10px;
    padding: 2rem 3rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex: 1;
}

h4 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

#box p {
    font-size: 16px;
    margin-top: 3px;
}

#signup2 {
    border-color: white;
    border: solid;
    outline: none;
}

/*Footer*/
footer {
    background-color: #6B7A8F;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 1rem;
}

h5 {
    font-size: 14px;
    color: #F9FAF8;
}